/* imagem de perfil */
.profile_img {
  font-size: 5.5em;
}

/* h4 de infos do perfil */
.profile_info h4 {
  color: #563a13;
  font-weight: 700;
  font-family: "Open Sans", serif;
  font-size: 16px;
  margin: 0;
}

/* justificar texto das infos do perfil */
.profile_info {
  display: flex;
  flex-direction: column;
  text-align: justify;
  justify-content: center;
}

/* p de infos do perfil */
.profile_info p {
  color: #563a13;
  font-family: "Open Sans", serif;
  margin-top: 0;
}

/* filtros de acessibilidade */
.filter_column {
  display: flex;
  flex-direction: column;
}

/* título dos filtors e do dash*/
.filter_column,
.dashboard h4 {
  color: #563a13;
  font-weight: 700;
  font-family: "Open Sans", serif;
}

/* apenas título do dash*/
.dashboard h4 {
  display: flex;
  justify-content: center;
  margin: 0.5em;
}

/* apenas título do preview */
.replicatedText h4 {
  justify-content: center;
  display: flex;
  margin: 0.5em;
  color: #563a13;
  font-weight: 700;
  font-family: "Open Sans", serif;
}

/* contáiner geral da página*/
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  max-width: 100%; /* Garante que o conteúdo não ultrapasse os limites */
  box-sizing: border-box; /* Inclui padding e border no cálculo de largura */
}

/* parte da direita (preview e dash) */
.rightSection {
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-grow: 1;
}

/* preview e dash */
.textScreen,
.placeholderContainer {
  flex: 1;
  height: auto;
}

/* parte da esquerda (dados de usuário e filtros) */
.leftSection {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.botoesDash {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5em;
}

/* Tablet: Tela entre 768px e 1024px */
@media (max-width: 1024px) {
  .container {
    flex-direction: column; /* Organiza os itens em coluna */
    align-items: center; /* Centraliza os itens */
  }
}

/* Mobile: Tela abaixo de 768px */
@media (max-width: 768px) {
  .container {
    flex-direction: column; /* Organiza os itens em coluna */
    gap: 10px; /* Reduz espaçamento */
  }
}
