/* container  de todo o login*/
.login_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
  position: relative;
}

/* lado esquerdo (nome do sistema) e direito(inputs e mensagem) */
.left_section,
.right_section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
  padding: 1rem;
}

/* input e mensagem */
.right_section {
  flex-direction: column;
  gap: 2rem;
}

/* mensagem de login do lado esquerdo e nome do sistema (tem a mesma inclinação) */
.login_message,
.sistema_nome {
  padding: 1rem 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transform: rotate(-5deg);
  color: #563a13;
  text-align: center;
  max-width: 400px;
  gap: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ícone do lápis */
.icon {
  display: inline-flex;
  font-size: 1.5em;
  margin-left: 0.5rem;
}

/* mensagem de login do lado direito */
.login_message {
  font-family: "Lora", serif;
  background-color: #b39582;
  font-weight: 300;
}

/* nome do sistema */
.sistema_nome {
  font-style: italic;
  font-family: "Dancing Script", cursive;
  font-size: 28px;
  font-weight: bold;
  background-color: #f9f9f9;
}

/* inputs de login */
.login_inputs {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  max-width: 400px;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #e6dad5;
  transform: rotate(5deg);
  color: #87725c;
}
