.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modalContent {
  background: #b69885;
  padding: 20px;
  border-radius: 8px;
  width: 90%;
  max-width: 700px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

/* apenas título do modal*/
.modalHeader h3 {
  display: flex;
  justify-content: center;
  margin: 0.5em;
  color: #563a13;
  font-weight: 700;
  font-family: "Open Sans", serif;
}

/* parte de pesquisa do modal */

.modalPesquisa {
  display: flex;
  align-items: center;
  gap: 8px; /* Espaço entre os elementos */
  width: 100%; /* Garante que ocupe toda a largura disponível */
}

.barraPesquisa {
  width: 50%;
}
