.btn {
  background-color: #a6a6a6;
  color: #fff;
  padding: 0.5em 1em;
  text-decoration: none;
  transition: 0.5s;
  border-radius: 25px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  height: auto;
  width: 15em;
  text-align: center;
  margin: 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
}

.btn:hover {
  color: #563913;
}

.icon {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
