/* informação do usuário, filtros, janela com texto e janela para digitar */
.user_info,
.filters,
.textScreen,
.placeholderContainer {
  background-color: #b69884;
  border-radius: 18px;
  margin: 10px 20px 40px;
  padding: 0.5em;
  justify-content: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  width: 100%; /* Adapta largura ao contêiner pai */
  height: auto;
  box-sizing: border-box; /* Inclui padding e bordas na largura */
}

/* apenas informação de usuario */
.user_info {
  height: 25em;
  width: 15em;
  display: flex;
  flex-direction: column;
  text-align: center;
}

/* apenas filtro */
.filters {
  height: 25em;
  width: 15em;
  display: flex;
  text-align: center;
  margin-bottom: 0px;
  flex-direction: column; /* Organização vertical */
}

/* apenas janela de texto */
.textScreen {
  width: 74em;
  max-width: 90em;
  height: 56em;
  text-align: justify;
  box-sizing: border-box;
  margin-bottom: 0px;
}

/* apenas janela para digitar */
.placeholderContainer {
  margin-bottom: 0px;
  height: 56em;
  box-sizing: border-box;
  width: 20em;
  max-width: 100%; /* Ocupa no máximo 90% da largura do contêiner pai */
}

/* Tablet: Tela entre 768px e 1024px */
@media (max-width: 1024px) {
  .textScreen {
    width: 90%; /* Ajusta largura para ocupar mais espaço */
    height: auto; /* Reduz altura */
    padding: 1rem; /* Adiciona espaçamento */
  }

  .user_info,
  .filters {
    width: 90%; /* Ajusta largura */
    height: auto; /* Altura ajustável conforme o conteúdo */
    margin: 0 auto;
  }
}

/* Tablet: Tela entre 768px e 1024px */
@media (max-width: 1024px) {
  .textScreen {
    width: 90%; /* Ajusta largura para ocupar mais espaço */
    height: 40em; /* Reduz altura */
    padding: 1em; /* Adiciona espaçamento */
  }

  .user_info,
  .filters {
    width: 45%; /* Divide espaço entre dois containers */
    height: auto; /* Altura ajustável conforme o conteúdo */
    margin: 0 auto; /* Centraliza os elementos */
  }

  .filters {
    align-items: center;
  }

  .placeholderContainer {
    width: 90%; /* Reduz largura */
    height: auto; /* Altura ajustável */
    padding: 1em;
  }
}

/* Mobile: Tela abaixo de 768px */
@media (max-width: 768px) {
  .textScreen {
    width: 100%; /* Ocupa 100% da largura */
    height: auto; /* Ajusta altura automaticamente */
    padding: 0.8rem; /* Reduz padding */
  }

  .user_info,
  .filters {
    width: 100%; /* Ocupa 100% da largura */
    height: auto; /* Altura ajustável conforme o conteúdo */
    padding: 10px; /* Reduz padding */
  }

  .filters {
    align-items: center;
  }

  .placeholderContainer {
    width: 100%; /* Ocupa toda a largura */
    height: auto; /* Ajusta altura automaticamente */
    padding: 10px;
  }
}
